---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='On this page, you can find all the posts I have written.'
  pageTitle='Blog'
>
  <main class='bg-green p-6 flex-grow'>
    <BlogList posts={posts} />
  </main>
</Layout>
