---
import Layout from '@layouts/Default.astro';
import { Card } from '@eliancodes/brutal-ui';
---

<Layout
  title='Now'
  pageTitle='Now page'
  description="What I'm doing now"
>
<main class='bg-teal p-6 flex-grow'>
<section id='cards' class='grid md:grid-cols-8 gap-6'>
<div class='col-span-4 md:col-span-3'>
  <Card>
    <div class='flex flex-col justify-between items-start gap-4'>
      <h2 class='outfit mt-2 text-2xl md:text-4xl lg:text-6xl'>
        What am I doing now?
      </h2>
      <section class="poppins">
        <p class="mb-3">
          <strong>This is a <a href="https://nownownow.com/" target="_blank" class="underline">now</a> page,</strong> inspired by Derek Sivers and the <a href="https://sive.rs/nowff" target="_blank" class="underline">now page movement</a>.
        </p>
        <p class="mb-3">
          <strong>I love the concept of a now page.</strong> It helps a lot and it <strong>just works</strong>. A now page allows me to share what I'm currently focused on without the need for real-time updates. It's the pure essence of remote and asynchronous communication.
        </p>
        <p class="mb-3">
          <strong>For me,</strong> it's also a helpful reminder when I'm feeling unfocused. A now page serves as a public commitment to my priorities and a reminder to stay on track. I'll likely update this page once a month to reflect any changes in my focus or goals.
        </p>
        <p class="mb-3">
          <strong>If you're curious</strong> and want to talk about anything, just send me an email or reach me on <strong><a href="https://discordapp.com/users/398278253736886292" target="_blank" class="underline">Discord</a></strong>. I'll enjoy chatting with you.
        </p>
        <p>
          This page was last updated on 2024/09/19 at 02:59 PM.
        </p>
      </section>
    </div>
  </Card>
</div>
<div class='col-span-4 md:col-span-3 lg:col-span-2'>
  <Card>
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
      Work
    </h2>
    <section class="poppins">
      <p class='mb-3'>
        <strong>I'm currently working</strong> as an entrepreneur in the transportation and rental industry, with a company focused on trucks and heavy-duty cargo vehicles.
      </p>
      <p class='mb-3'>
        <strong>My main goal</strong> is to become a great Software Engineer, gain experience, and excel in the industry by solving real-world problems.
      </p>
      <p class='mb-3 font-bold'>
        Right now, I'm...
      </p>
        <li class='mb-2'>Updating <a href="https://github.com/minortypo/garden" target="_blank" class="underline font-bold">g.arden</a>, my Zettelkasten project built with Docusaurus.</li>
        <li class='mb-2'>Reading <a href="https://a.co/d/as8luPn" target="_blank" class="underline font-bold">Grokking Algorithms.</a></li>
        <li class='mb-2'>Completing the JavaScript Algorithms and Data Structures course by Colt Steele.</li>
        <li class='mb-2'>In the final year of my Analysis and Systems Development degree.</li>
        <li>Learning more about Back-end, REST, GraphQL, and Go.</li>
    </section>
  </Card>
</div>
<div class='col-span-4 md:col-span-3 lg:col-span-2'>
  <Card>
    <h2 class='text-2xl md:text-4xl pl:text-6xl mb-4 dm-serif'>
      Personal
    </h2>
    <section class="poppins">
      <p class='mb-3'>
        <strong>I consider myself</strong> a simple person, and to be honest, I don't need much to be happy.
        To enjoy my time and take care of myself, I run, lift weights, mountain bike, and play football. But I’m also a <strong>nerd</strong> at heart, enjoying sci-fi, computer games, and exploring topics in science, astronomy, and technology.
      </p>
        <p class='mb-3 font-bold'>
        Right now, I'm...
      </p>
        <li class='mb-2'>Training to run an 18k race in late 2024.</li>
        <li class='mb-2'>Focused on gaining weight and being healthy, going to the gym at least 4 times a week.</li>
        <li class='mb-2'>Reading <a href="https://a.co/d/7wWSLjv" target="_blank" class="underline font-bold">Antifragile.</a></li>
        <li class='mb-2'>Learning and practicing Spanish twice a week.</li>
        <li class='mb-2'>Playing DotA just for fun.</li>
        <li>Saving to buy an equatorial telescope.</li>
    </section>
  </Card>
</div>
</section>
</main>
</Layout>