---
interface Props {
  content: any;
}

const { content } = Astro.props;

---
<article class={`text-lg text-slate-300 w-sm md:w-prose md:prose poppins`}>
  <p class='text-sm md:text-base'>
    Published on {content.pubDate} by {content.author}
  </p>
  <slot />
  <section class='text-sm md:text-base'>
    <p>Written by {content.author}</p>
    <p>&larr; <a href='/blog/' title='Back to projects'>Back</a></p>
  </section>
</article>
